.footer_div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer_left_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_right_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.footer_p {
	margin: 0px 2px;
	color: #808080;
}
