.header_div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_left_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.header_right_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.header_a {
	margin: 0px 2px;
}
